<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=T, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css" />

  <title>show</title>
</head>

<body>
  <main>
    <a class="home" href="/">Home</a>
    <% books.forEach(book=> {%>
      <section class="bookCard">
        <img src="<%= book.image %>" />
        <h2>
          <%=book.title %>
        </h2>
        <h3>
          <%= book.authors %>
        </h3>
        <p>
          <%= book.description %>
        </p>
      </section>

      <form action="/books" method="POST">
        <input name="title" value="<%= book.title %> " style="display: none" />
        <input name="authors" value="<%= book.authors %>" style="display: none" />
        <input name="description" value="<%= book.description %> " style="display: none" />
        <input name="img" value="<%= book.img %>" style="display: none" />
        <input name="isbn" value="<%= book.isbn %>" style="display: none" />
        <input name="shelf" value="<%= book.shelf %>" style="display: none" />
        <button type="submit">Select This Book</button>
      </form>
      <%})%>
  </main>
</body>

</html>